<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bread</string>
		<key>price</key>
		<real>62.5</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jam</string>
		<key>price</key>
		<real>2.53</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Corn Flakes</string>
		<key>price</key>
		<real>0.35</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Milk</string>
		<key>price</key>
		<real>3.12</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Eggs</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Butter</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Rice</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Potatoes</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tomatoes</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Onions</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Spinach</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cilantro</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Peanuts</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Green Chillies</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Curry Leaves</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Yogurt</string>
		<key>price</key>
		<real>1.25</real>
	</dict>
</array>
</plist>
